CompileFlags:
  # Use compilation database (compile_commands.json) if available
  # generate using *bear* (installed using apt) by running
  #   bear -- make
  CompilationDatabase: auto

  # Add extra flags to override or complement compile_commands.json
  Add: [-Wall, -Wextra, -Wpedantic, -I/home/courses/include, -I/home/courses/lib]

Index:
  Background: Skip
