CompileFlags:
  # Use compilation database (compile_commands.json) if available
  # generate using *bear* (installed using apt) by running
  #   bear -- make
  CompilationDatabase: auto

  # Add extra flags to override or complement compile_commands.json
  Add: [-Wall, -Wextra, -Wpedantic, -I/home/courses/include]

Diagnostics:
  # Enable Clang-Tidy if it's available
  ClangTidy:
    Add: [performance-*, bugprone-*]
    Remove: [cppcoreguidelines-pro-type-vararg, hicpp-vararg]
    CheckOptions:
      modernize-use-nullptr.NullMacros: ['NULL']

  # Enable or disable diagnostic display enhancements
  UnusedIncludes: Strict
  Suppress: [pp_includes_not_found]

Completion:
  AllScopes: true
  FilterAndSort: true
  Limit: 100
  Snippets: true
